@use "sass:math";

$orange: hsl(12, 88%, 59%);
@mixin theme($width: 120px) {
    color: white;
    background-color: $orange;
    border-radius: 20px;
    width: $width;
    height: 40px;
    border: none;
}

input[type="button"]:not(#submit) {
    @include theme;
    box-shadow: 0 7px 10px hsla(12, 88%, 59%, 0.5);
}
input[type="button"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

p {
    font-size: 0.9rem;
    color: hsl(227, 12%, 61%);
    line-height: 1.5;
}

h2 {
    font-size: 2.2rem;
}

h1,
h2,
h4 {
    color: hsl(228, 39%, 23%);
}

html {
    display: flex;
    justify-content: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    width: 1440px;
    padding: 0 70px;
}

header,
section:nth-child(2),
section:nth-child(3) {
    padding: 0 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px 0;
}

.header-navigation {
    display: flex;
    gap: 35px;

    a {
        text-decoration: none;
        font-weight: 500;
        color: hsl(228, 39%, 23%);
    }

    a:hover {
        opacity: 0.7;
    }
}

section {
    margin-bottom: 50px;
}

section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    div:first-child {
        width: 400px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 3rem;
        }

        p {
            width: 320px;
        }
    }

    .charts-wrapper {
        width: 560px;
        #graphics {
            width: 100%;
            background: none;
        }
    }
}

section:nth-child(3) {
    display: flex;
    justify-content: space-between;

    div:has(h2) {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            width: 400px;
        }
        p {
            width: 320px;
        }
    }

    .managing-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 30px;
    }

    .managing-wrapper > div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        span {
            display: grid;
            place-items: center;
            padding: 0 25px;
            background-color: $orange;
            color: white;
            height: 40px;
            border-radius: 20px;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;

            p {
                width: 410px;
            }
        }
    }
}

section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .reviews-wrapper {
        display: flex;
        gap: 20px;
        width: 100%;
        height: 250px;
        align-items: flex-end;
        overflow-x: hidden;
        font-size: 0.9rem;

        div {
            background: hsl(0, 0%, 98%);
            min-width: 496px;
            height: max-content;
            padding: 50px 40px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            position: relative;

            img {
                width: 60px;
                position: absolute;
                top: -30px;
            }

            p {
                text-align: center;
            }
        }
    }
}

section:nth-child(5) {
    background-color: $orange;
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
    align-items: center;
    margin: 0;

    h2 {
        font-size: 2rem;
        width: 400px;
        font-weight: 500;
        color: white;
    }

    #reverse {
        background: white;
        color: $orange;
    }

    #reverse:hover {
        opacity: 1;
        color: hsl(11, 80%, 73%);
    }
}

footer {
    background: hsl(233, 12%, 13%);
    height: 200px;
    padding: 50px 160px;
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            width: 120px;
        }

        .media-links-wrapper {
            display: flex;
            gap: 10px;

            img {
                width: 18px;
            }
        }
    }

    .footer-navigation {
        display: flex;
        width: 350px;
        gap: 100px;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-size: 0.8rem;
                color: hsla(0, 0%, 98%, 0.801);
                font-weight: 300;
                text-decoration: none;
            }

            a:hover {
                color: hsl(12, 83%, 62%);
            }
        }
    }

    div:has(.footer-text-input-wrapper) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer-text-input-wrapper {
            display: flex;
            flex-direction: row;
            gap: 10px;

            #email {
                width: 200px;
                height: 40px;
                border-radius: 20px;
                padding: 15px;
                border: none;
            }

            #submit {
                @include theme;
                width: 60px;
                height: 40px;
                cursor: pointer;
            }
            input[type="submit"]:hover {
                background: hsl(11, 79%, 68%);
                opacity: 1;
            }
        }

        .send-email-error{
            font-size: .65rem;
            color: red;
            padding-left: 20px;
        }

        span#copyright {
            font-weight: 300;
            color: hsl(0, 0%, 98%, 0.4);
            font-size: 0.75rem;
            text-align: end;
            width: 100%;
        }
    }
}
